version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Australia/Hobart
    volumes:
      - /mnt/hdd/docker/appdata/jellyfin:/config
      - /mnt/hdd/data/media:/data/media
    ports:
      - 8096:8096
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

  radarr:
      container_name: radarr
      image: cr.hotio.dev/hotio/radarr:latest
      restart: unless-stopped
      logging:
        driver: json-file
      network_mode: bridge
      ports:
        - 7878:7878
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Australia/Hobart
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - /mnt/hdd/docker/appdata/radarr:/config
        - /mnt/hdd/data:/data

  sonarr:
      container_name: sonarr
      image: cr.hotio.dev/hotio/sonarr:latest
      restart: unless-stopped
      logging:
        driver: json-file
      network_mode: bridge
      ports:
        - 8989:8989
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Australia/Hobart
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - /mnt/hdd/docker/appdata/sonarr:/config
        - /mnt/hdd/data:/data
