version: "3.8"

services:
  baikal:
    image: ckulka/baikal:nginx
    restart: always
    ports:
      - "1212:80"
    volumes:
      - baikal_config:/var/www/baikal/config
      - baikal_data:/var/www/baikal/Specific

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - "8080:8080" # qbittorrent
      - "7878:7878" # radarr
      - "8989:8989" # sonarr
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=
      - WIREGUARD_ADDRESSES=
      - SERVER_CITIES=
      - TZ=Australia/Hobart
      - FIREWALL_VPN_INPUT_PORTS=
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Australia/Hobart
    volumes:
      - /var/docker/jellyfin/config:/config
      - /var/docker/jellyfin/cache:/cache
      - /mnt/mergerfs-pool/my-media/libraries:/my-media/libraries:ro
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    ports:
      - 8096:8096
    restart: unless-stopped

  komga:
    container_name: komga
    image: gotson/komga
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/komga/config:/config
      - /mnt/mergerfs-pool/my-media/libraries/komga:/data
    ports:
      - 2323:2323
    environment:
      - PUID=1000
      - PGID=1000
      - SERVER_PORT=2323

  qbittorrent:
    container_name: qbittorrent
    image: cr.hotio.dev/hotio/qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Australia/Hobart
    volumes:
      - /var/docker/qbittorrent/config:/config
      - /mnt/mergerfs-pool/my-media/torrents:/my-media/torrents

  radarr:
    container_name: radarr
    image: cr.hotio.dev/hotio/radarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Australia/Hobart
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/docker/radarr/config:/config
      - /mnt/mergerfs-pool/my-media:/my-media

  samba:
    container_name: samba
    image: dperson/samba
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - USERID=1000
      - GROUPID=1000
      - TZ=Australia/Hobart
    tmpfs:
      - /tmp
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    stdin_open: true
    tty: true
    volumes:
      - /mnt/mergerfs-pool:/mnt/mergerfs-pool:z
    command: '-s "mergerfs-pool;/mnt/mergerfs-pool;yes;no;no" -u "user;pass"'

  sonarr:
    container_name: sonarr
    image: cr.hotio.dev/hotio/sonarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Australia/Hobart
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/docker/sonarr/config:/config
      - /mnt/mergerfs-pool/my-media:/my-media

  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: debian-server-syncthing
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /var/docker/syncthing:/var/syncthing
    network_mode: host
    restart: unless-stopped

volumes:
  baikal_config:
  baikal_data:
